<%= render 'layouts/header' %>

<h2> Climbers/Mountains Climbed By Climber  <h2> 
 
<% @climbers_sorted_by_age.each do |climber| %>
    <div> 
    <%= link_to climber.name, climber_climbs_path(climber) %> Age: <%= climber.age %>
    <br> 
    <%= link_to 'Mountains', climber_mountains_path(climber) %>
    <br> 
    <br> 
    </div> 
<% end %>


