<%= render partial: 'layouts/header' %>

<h1> Mountains </h1> 
<% if @mountains[0].present?%>
    <% @mountains.each do |mountain| %> 
        <div>
        <h2> <%= link_to mountain.name, mountain_path(mountain) %> </h2> 
        </div> 
    <% end %> 
    <% else %>
        <%= link_to @mountains.name, mountain_path(@mountains) %>
    <% end %>

