<%= stylesheet_link_tag "mountains" %>
<%= render partial: 'layouts/header' %>

<div class = "list"> Mountains </div> 
<% if @mountains[0].present?%>
    <% @mountains.each do |mountain| %> 
        <div class = "list"> <%= link_to mountain.name, mountain_path(mountain) %> </div> 
    <% end %> 
    <% else %>
        <%= link_to @mountains.name, mountain_path(@mountains) %>
    <% end %>

