<%= render partial: 'layouts/header' %>

<p id=topLines> Edit Account</p> 

<p id="bodysection"> <%= @user.name %> </p> 

<%= render 'form' %> 

<p id="options" ><%= link_to "Cancel Editing", @user %> </p>