<% if object.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(object.errors.count, "Error") %>
            Prevented Saving
        </h2>

        <h2> Errors: </h2> 
        <ul>
            <% object.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
            <% end %> 
        </ul> 
    </div> 
<% end %> 